Fixed­Wing O
Survey O
Drone O
Functional O
Requirements O
List O
and O
Performance O
Specifications O
Introduction O
The O
goal O
of O
the O
fixed­wing O
survey O
drone O
project O
is O
to O
develop O
an O
unmanned O
aerial O
vehicle O
, O
or O
UAV B
. O

The O
UAV B
will O
be O
autonomous O
by O
using O
microcontrollers B
, O
cameras B
and O
other O
sensors B
, O
while O
also O
having O
the O
option O
of O
manual O
controls O
. O

Obstacle O
avoidance O
will O
also O
be O
implemented O
on O
the O
UAV B
. O

It O
will O
pilot O
itself O
over O
a O
user­defined O
area O
and O
capture O
near O
infrared O
images O
, O
tagged O
with O
GPS O
information O
. O

Upon O
completion O
, O
the O
UAV B
will O
land O
at O
a O
designated O
location O
and O
notify B
the O
user O
( O
by O
email O
) O
that O
the O
survey O
of O
the O
area O
is O
complete O
, O
and O
also O
send O
a O
web O
link O
to O
a O
high O
resolution O
image O
of O
the O
entire O
area O
. O

System O
Block O
Diagram O
Figure O
CD O
shows O
the O
overall O
block O
diagram O
of O
the O
UAV O
. O

The O
aircraft O
will O
house O
all O
of O
the O
components O
needed O
for O
the O
system O
to O
work O
. O

The O
components O
need O
include O
: O

two O
digital B
cameras I
, O
a O
microcontroller B
, O
a O
flight B
controller I
, O
a O
GPS B
receiver I
, O
an O
inertial B
measurement I
unit I
( O
IMU B
) O
containing O
a O
three­axis B
accelerometer I
, O
three O
gyroscopes B
, O
three O
magnetometers B
, O
and O
a O
barometric B
sensor I
, O
and O
a O
data B
link I
module I
used O
for O
networking O
. O

Functional O
Requirements O
Overall O
Requirements O
: O

The O
UAV B
must O
have O
an O
IMU B
, O
GPS B
receiver I
, O
flight B
controller I
, O
two O
digital B
cameras I
, O
microcontroller B
, O
and O
a O
data B
link I
module I
The O
UAV O
must O
be O
entirely O
autonomous O
Manual O
override O
must O
be O
available O
at O
all O
times O
during O
flight O
The O
UAV O
must O
be O
able O
to O
adjust O
its O
flight O
to O
avoid O
obstacles O
The O
UAV O
shall O
generate O
its O
own O
waypoints O
to O
capture O
images O
of O
the O
entire O
user O
defined O
area O
The O
UAV O
must O
be O
able O
to O
combine O
all O
of O
the O
images O
acquired O
into O
one O
high O
resolution O
image O
The O
UAV O
shall O
alert O
the O
user O
that O
the O
survey O
is O
complete O
via O
email O
, O
using O
the O
data B
link I
module I
The O
UAV O
shall O
complete O
the O
survey O
within O
CD O
minutes O
Airplane O
Requirements O
: O

The O
plane O
must O
be O
electrically O
powered O
The O
plane O
must O
be O
hand O
launched O
The O
battery B
must O
last O
long O
enough O
for O
the O
entire O
survey O
to O
be O
done O
in O
one O
charge O
( O
NN O
CD O
minutes O
) O
The O
plane O
must O
be O
able O
to O
operate O
while O
holding O
all O
components O
Camera O
Requirements O
: O

One O
front B
facing I
camera I
shall O
be O
of O
lower O
resolution O
to O
be O
used O
for O
obstacle O
detection O
Ground B
facing I
camera I
must O
be O
high O
resolution O
with O
the O
ability O
to O
capture O
near O
infrared O
pictures O
. O

Ground B
facing I
camera I
shall O
be O
a O
CD O
megapixel O
camera O
used O
to O
capture O
high­resolution O
images O
. O

All O
images O
captured O
with O
the O
ground B
facing I
camera I
must O
be O
tagged O
with O
GPS O
